<div class="col">
  <div *ngIf="todos$">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos$ | async">
          <td>{{todo.id}}</td>
          <td>{{todo.title}}</td>
          <td>
            <button (click)="editTodo(todo)" class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button (click)="deleteTodo(todo.id)" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
